* {font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;word-break:break-all;word-wrap:break-word;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;word-break:break-all;word-wrap:break-word;}
h2{margin-top: 17px; margin-bottom: 7px; font-size: 28px}

/*input, button {font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;}*/

body{	font-family: 'Microsoft YaHei', 'Microsoft Sans Serif';
/*	background: linear-gradient(to bottom, #1F1F21 0%, #6A6B6F 99%) repeat-x scroll 0 0 #6A6B6F !important; */
/*	background: -webkit-linear-gradient(to bottom, #1F1F21 0%, #6A6B6F 99%) repeat-x scroll 0 0 #6A6B6F !important; 
	background: x; */
	background-image: url("../images/background.gif") !important;
}

#current-dir>a {
  margin-left: 5px;
  margin-right: 5px;
}

.app-loading {
  margin: 0px auto;
  text-align: center;
}

#login{position:relative; padding:5px;background-color: white;border-radius:4px;-webkit-box-shadow:0 0 .625em .07em rgba(0,0,0,0.2);box-shadow: 0 0 .625em .07em rgba(0,0,0,0.2);
		max-width:500px;margin-left:-10px;margin-top: 10%;z-index:1;}
#login-control{margin-left: 25%; padding-right: 10px}
#register{position:relative; padding:5px;background-color: white;border-radius:4px;-webkit-box-shadow:0 0 .625em .07em rgba(0,0,0,0.2);box-shadow: 0 0 .625em .07em rgba(0,0,0,0.2);
		max-width:500px;margin-left:-10px;margin-top: 8%;z-index:2;}
#register-control{margin-left: 25%; padding-right: 10px}
#footer{color:white;font-size:16px; height:30px;}

#footer .btn-link{color:white;text-shadow:none}
#footer .btn-link:hover{color:rgb(24, 188, 156)}

.switch-rel {margin:5px 0 0 105px;}

@font-face { 
  font-family: youregon; 
  src: url('youregon.ttf'); 
} 

.hero-unit {color:#fff;overflow:hidden; background: linear-gradient(20deg, rgb(8, 15, 31) 30%, rgb(43, 75, 90) 87%, rgb(67, 94, 103) 100%) repeat fixed 0% 0% rgb(28, 37, 51);
 background: -webkit-linear-gradient(20deg, rgb(8, 15, 31) 30%, rgb(43, 75, 90) 87%, rgb(67, 94, 103) 100%) repeat fixed 0% 0%;
 background: -moz-linear-gradient(20deg, rgb(8, 15, 31) 30%, rgb(43, 75, 90) 87%, rgb(67, 94, 103) 100%) repeat fixed 0% 0%;
 background: -o-linear-gradient(20deg, rgb(8, 15, 31) 30%, rgb(43, 75, 90) 87%, rgb(67, 94, 103) 100%) repeat fixed 0% 0%;padding: 15px;}
.hero-unit {-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.hero-unit{filter:alpha(opacity=100);-moz-opacity:1.0; opacity:1.0;}
.hero-unit a {text-decoration:none;}
.hero-unit a:hover {text-decoration:none;}
.hero-unit h1{font-size: 100px; letter-spacing:7px; font-family: youregon}
.hero-unit p{text-align: right}

/*.hero-unit {min-width:820px;}*/
/*.container-fluid {min-width:900px;}*/

.container-fluid {padding:20px;padding-bottom: 10px}

.flowinfo{font-weight: bold; font-size: 35px;overflow: visible;word-break:normal;word-wrap:normal;font-family: Verdana}
.flowinfo ul li {list-style-type: none; word-break:normal; word-wrap:normal;cursor: pointer;}
.flowtext {
	color:#8ba39e;
	opacity:0.9;
    transition:color 0.7s;
    -moz-transition:color 0.7s; /* Firefox */
    -webkit-transition:color 0.7s; /* Safari and Chrome */
    -o-transition:color 0.7s; /* Opera */
}
.flowtext:hover{color:rgb(79,159,229);}

.main-body{background:rgba(0,0,0,0);}
.mian-body {-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
#filecontrol{padding: 25px;background-color: #fff; font-size: 16px;-webkit-box-shadow:0 0 .625em .07em rgba(0,0,0,0.2);box-shadow: 0 0 .625em .07em rgba(0,0,0,0.2);min-width: 800px;z-index:3;}
#editor{background:rgba(0,0,0,0);min-width: 900px;z-index: 4}
.btn-white{background: white;-webkit-box-shadow:0 0 .625em .07em rgba(0,0,0,0.1);box-shadow: 0 0 .625em .07em rgba(0,0,0,0.1);}
.btn-white:hover, .btn-white:focus, .btn-white:active {background: rgba(56, 121, 217, 0.5)}

/*
#nav-head .container{}
#nav-head .brand{color: white; font-size: 26px} 
#nav-head #nav-user-name{color: white; font-size: 18px}
#nav-head .brand:hover, #nav-head #nav-user-name:hover{color:rgb(0, 149, 211)}
#nav-head a{text-shadow:none}
.navbar .nav li.dropdown.open > .dropdown-toggle {background-color:#484848}
*/


#nav-avatar {min-height:32px;min-width:32px;max-height:32px;max-width:32px;margin:-10px 5px;}
.shared-character {min-height:40px;min-width:40px;max-height:40px;max-width:40px;filter:alpha(opacity=40);-moz-opacity:0.4;-khtml-opacity:0.4;opacity:0.4;}
.shared-character.online {filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1;}

#file-list {margin-top: 10px}
#file-list-table  tr {border-top: 3px solid 0x111;}
#file-list-table .col2, #file-list-table .col3, #file-list-table .col4, #file-list-table .col5 {vertical-align:middle;}
#file-list-table .col1 {width:32px;text-align:right; padding-left: 16px;}
#file-list-table .col3 {width:80px;text-align:center;}
#file-list-table .col3.owner {width:140px;text-align:center;}
#file-list-table .col3.owner img {max-width:32px;max-height:32px;margin-right:7px;}
#file-list-table .col4 {width:220px;text-align:center;}
#file-list-table .col5 {width:24px;text-align:left;}
#file-list-table .col5 .opreation {background-image:url(../images/set.png);min-width:24px;min-height:24px;width:24px;height:24px;display:block;text-decoration:none;}
#file-list-table .col5 .opreation:hover {background-image:url(../images/set-hover.png);text-decoration:none;}
#file-list-table .col5 .opreation.disabled {cursor:default;}
#file-list-table .col5 .opreation.disabled:hover {background-image:url(../images/set.png);text-decoration:none;}
#file-list-table .col5.open .opreation {background-image:url(../images/set-hover.png);text-decoration:none;}
#file-list-table .head, #file-list-table .head:hover {background:#eee;}
#file-list .shared-character {margin:3px;}
#file-list .span10 {min-height:500px !important;}

#chatbox .shared-character {margin:1px;}
#chatbox {overflow:hidden; z-index:4;}
#chat-show{background-color: #fff}

.popover-character {margin:3px 10px 0 0;min-height:48px;min-width:48px;max-height:48px;max-width:48px;}

#current-doc-p {font-size:16px;line-height:20px;margin:4px;}
#current-doc-state {color:#0a0}
#current-doc-state.red {color:#a00}
#current-doc{color:rgb(44,62,80);}

#delete-name, #rename-name, #share-name {color:red;}

#share-user-box {height:220px;width:100%;margin:10px 0;overflow:auto;border:1px solid #ccc;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
#share-user-box  img{margin-right:10px;max-height:32px;max-width:32px;}
#share-user-box  ul{margin:0;}

#member-list {margin-top:5px;}
#member-list-doc {margin-top:5px;overflow:auto;}

#chatbox {overflow: visible;position: relative;min-width: 200px}
#editormain {min-width: 600px;position: relative;}
#editormain-inner {position:relative;}

#chat-show {overflow:auto;margin:4px 0;padding:5px 10px;border:1px solid #ccc;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
#chat-show.red {border:1px solid #f88;}
#chat-show-inner {width:100%;cursor:text;overflow:hidden;}
.chat-name {color:#00a;font-size:14px;}
.chat-name.self {color:#0a0;}
.chat-name.system {color:#a00;}
.chat-element:hover {background:#eee;}

textarea {resize:none;}

.CodeMirror {height:382px;border:1px solid #ccc;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.CodeMirror-fullscreen {display:block;position:fixed;top:0;left:0;width:100%;z-index:9999;background:#fff;}
.CodeMirror {line-height: 1.5}
.CodeMirror-linenumber{width:32px}

.CodeMirror *, #varlist-table  *, #console-input, #console-inner, #console-inner * {font-family:"monaco", "consolas", "Mono";}
#console span.message {font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;}

.cursor {position:absolute;margin:0;z-index:9;}
.cursor-not-so-inner {position:relative;left:-200px;width:400px;height:0;}
.cursor-inner:hover .cursor-inner-inner {background:#aaa;}
.cursor-inner {position:relative;padding:5px;top:-23px;left:194px;width:2px;}
.cursor-inner-inner {position:relative;height:18px;width:2px;background:#f00;}

.breakpoints {width:16px;}
.running {background:#ffb;}

#console {float:left;border:1px solid #ccc;border-right:none;-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px;height:200px;margin:10px 0 0 0;background-color: white}
#console .stdin {color:blue;}
#console .stderr {color:red;}
#console .message {color:#0a0;}
#console-inner {overflow:auto;padding:5px 10px;}
#console-input{height: 35px;border:none;border-radius:0;border-top:1px solid #ddd;}
#varlist {position:relative;float:left;border:1px solid #ccc;-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0;height:200px;margin:10px 0 0 0;background-color: white}
#under-editor {height:212px;}
#varlistreal {overflow:auto;}
#varlist .btn{height: 31px; padding-top: 5px;}
#varlist-table #adde{font-size: 24px}
#varlist-table {margin:0;border-bottom:1px solid #ddd;font-size:14px;}
#varlist-table td {padding:0;}
#varlist-table .col1 {width:24px;}
#varlist-table .col2 span {display:block;color:#008;}
#varlist-table .col3 {padding-left:4px;width:66%;border-left:1px solid #ddd;}
#varlist-table input[type=text] {margin:-5px 0 -1px 0;padding:0;width:100%;}

.well-top {border:none;margin:0;padding:0;width:auto;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}

#fullscreentip {display:none;position:absolute;z-index:10000;left:0px;top:10px;}

.userlistimg {min-width:32px;min-height:32px;}

.dropdown-toggle{cursor: pointer !important;}
.alert{padding: 10px; margin-bottom: 0px}
hr{margin-top: 14px; margin-bottom: 14px}
