<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Popush</title>
  <link rel="shortcut icon" href="images/logo.png"/>
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <link href="css/codemirror.css" rel="stylesheet" media="screen" />
  <link href="css/popush.css" rel="stylesheet" media="screen" />
  <script type="text/javascript" src="js/conf.js"></script>
  <script type="text/javascript" src="js/lib/jquery.js"></script>
  <script type="text/javascript" src="js/lib/jquery.cookie.js"></script>
  <script type="text/javascript" src="js/lib/socket.io.js"></script>
  <script type="text/javascript" src="js/lib/firebase.js"></script>
  <script type="text/javascript" src="js/lib/newMultiConnection.js"></script>
  <script type="text/javascript" src="js/lib/bootstrap.js"></script>
  <script type="text/javascript" src="js/lib/underscore.js"></script>
  <script type="text/javascript" src="js/lib/backbone.js"></script>
  <script type="text/javascript" src="js/lib/codemirror.js"></script>
  <script type="text/javascript" src="js/loadmode.js"></script>
  <script type="text/javascript" src="js/lib/FileSaver.js"></script>
  <script type="text/javascript" src="js/lib/jszip.js"></script>
  <script type="text/javascript" src="js/lib/jszip-deflate.js"></script>
</head>
<body style="display:none;">
	<div class="hero-unit navbar navbar-fixed-top" id="big-one">
		<div class="container">
			<div class="row">
				<h1>Popush</h1>
			<!--	<p class="lead" localization>only-platform</p> -->
      </div>
    </div>
  </div>

  <div class="navbar navbar-default navbar-fixed-top hide" id="nav-head">
		<div class="container" style="max-width:inherit; width:auto; padding: 0 20px;">
			<div class="navbar-header">
				<a class="navbar-brand" href="#" style="font-size:22px">Popush</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span id="nav-user-name">Your Name</span>
					<img height="32" width="32" src="#" id="nav-avatar" />
					</a>
					<ul class="dropdown-menu">
						<li><a id="btn_changepassword" data-toggle="modal" localization>changepassword</a></li>
						<li><a id="btn_changeavatar" data-toggle="modal"  localization>changeavatar</a></li>
						<li class="divider"></li>
						<li><a href="#login" class="go-logout" localization>logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
  
	<div class="container-fluid" id = "first-page">
		<div class="container row" style="margin:auto;">
			<div class="col-xs-6">
				<div id="login">
					
          <h2 style="text-align:center" class="blink" localization>login</h2>
          <div class="alert hide" id="login-message">
							<button type="button" class="close"  onclick="$('#login-message').slideUp()">&times;</button>
            <span>Nothing here</span>
          </div>
          <hr />
						<div id="login-box" class="form-horizontal">
							<div class="form-group">
								<label class="control-label col-xs-3" for="login-inputName" localization>username</label>
								<div class="controls col-xs-7">
									<input type="text" class="form-control" id="login-inputName"/>
              </div>
            </div>
							<div class="form-group">
								<label class="control-label col-xs-3" for="login-inputPassword" localization>password</label>
								<div class="controls col-xs-7">
									<input type="password" class="form-control" id="login-inputPassword"/>
              </div>
            </div>
            <div class="control-group hide" id="login-padding">
              <label class="control-label">&nbsp;</label>
            </div>
							<div class="form-group">
								<div class="controls col-xs-7" id="login-control">
									<button id="login-submit" type="submit" class="btn btn-primary" localization>login</button>
                <a class="switch-rel" href="#register" localization>register</a>
              </div>
            </div>
          </div>
					
      </div>
    
				<div class="hide" id="register" >
					
          <h2 style="text-align:center" class="blink" localization>register</h2>
          <div class="alert hide" id="register-message">
							<button type="button" class="close" onclick="$('#register-message').slideUp()">&times;</button>
            <span>Nothing here</span>
          </div>
          <hr />
						<div id="register-box" class="form-horizontal">
							<div class="form-group">
								<label class="control-label col-xs-3" for="register-inputName" localization>username</label>
								<div class="controls col-xs-7">
                <a id="tooltip" href="#" data-toggle="tooltip" title="only-contain" localization>
									<input type="text" class="form-control" id="register-inputName"/>
                </a>
              </div>
            </div>
							<div class="form-group">
								<label class="control-label col-xs-3" for="register-inputPassword" localization>password</label>
								<div class="controls col-xs-7">
									<input type="password" class="form-control" id="register-inputPassword"/>
              </div>
            </div>
							<div class="form-group hide" id="register-padding">
								<label class="control-label  col-xs-3" for="register-inputPassword" localization>confirm</label>
								<div class="controls col-xs-7">
									<input type="password" class="form-control" id="register-confirmPassword"/>
              </div>
            </div>
							<div class="form-group">
								<div class="controls col-xs-7" id="register-control">
									<button id="register-submit" type="submit" class="btn btn-primary" localization>register</button>
                <a class="switch-rel" href="#login" localization>login</a>
              </div>
            </div>
          </div>
					
				</div>
			</div>
			
			<div class="col-xs-6">
				<div class="flowinfo" id="popush-info">
        <ul>
          <li class="flowtext">PARALLEL</li>
          <li class="flowtext">ORGANIZED</li>
          <li class="flowtext">PLEASURE</li>
                                      <li style="color:rgb(79,159,229)">POPUSH CoCoding Platform</li>
          <li class="flowtext">UNIFORM</li>
          <li class="flowtext">SATISFIED</li>
          <li class="flowtext">HAPPY CODING</li>
        </ul>
      </div>
    </div>
    </div>
    <div class="main-body">
      <div id="filecontrol" class="hide">
				<div class="row">
					<div class="col-xs-12">
            <ul class="nav nav-tabs">
              <li class="dropdown" id="ownedfile">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span localization>owningfiles</span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#" data-toggle="modal" new-type="doc" localization>newfile</a></li>
                  <li><a href="#" data-toggle="modal" new-type="dir" localization>newfolder</a></li>
									<li><a href="#" new-type="down" localization>downzip</a></li>
									<li>
									<input type="file" id="uploadfile" style="display:none" />
									<a href="#" new-type="up" id="upload" localization>upload</a>
									</li>
                  <!--<li class="divider"></li>
                  <li><a href="#" localization>import</a></li>-->
                </ul>
              </li>
              <li id="ownedfileex" class="hide"><a href="#" class="file-go" localization>owningfiles</a></li>
              <li id="sharedfile"><a href="#" class="file-go" localization>sharedfiles</a></li>
            </ul>
          </div>
        </div>
        
				<div class="row" id="file-list">
					<div class="col-xs-10">
						<p><span localization>currentdir:</span>&nbsp;<span id="current-dir"></span><!--<img src="images/newfile.png" width="28"/><img src="images/newfolder.png" width="35">--></p>
            <table class="table table-hover" id="file-list-table">
              <tr class="head">
                <th class="col1">&nbsp;</th>
                <th class="col2" localization>filename</th>
                <th class="col3" localization>state</th>
                <th class="col4" localization>timestamp</th>
                <th class="col5">&nbsp;</th>
              </tr>
              <tr id="no-file"><td></td><td localization>nofile</td> <td></td> <td></td> <td></td></tr>
<script type="text/template" id="file-template">
<td class="col1"><img src="<%=model.pic%>" height="32" width="32" /></td>
<td class="col2"><a href="#index<%=encodeURI(model.shownPath)%>" class="file-go"><%=_.escape(model.shownName)%></a></td>
<% if (model.belongSelf) { %>
<td class="col3" localization><%=model.shared?strings["shared"]:""%></td>
<% } else { var o = model.owner; %>
<td class="col3 owner"><img class="user-other" src="<%=o.avatar%>" width="32" height="32"/><%=_.escape(o.name)%></td>
<% } %>
<td class="col4"><%=model.time%></td>
<td class="col5">
  <div class="dropdown">
    <a href="#" class="dropdown-toggle<%=model.belongSelf ? "" : " disabled"%> opreation" data-toggle="dropdown">&nbsp;</a>
    <ul class="dropdown-menu">
      <% if(model.inRoot) { %><li><a href="#" class="file-go-share" localization><%=strings["sharemanage"]%></a></li> <% } %>
      <li><a href="#" class="file-go-delete" localization><%=strings["delete"]%></a></li>
      <li><a href="#" class="file-go-rename" localization><%=strings["rename"]%></a></li>
      <li><a href="#" class="file-go-download" localization><%=strings["download"]%></a></li>
    </ul>
  </div>
</td></script>
            </table>
          </div>
          <div class="col-xs-2">
            <span localization>shareduser</span>：
            <div id="member-list">
<!--              <img src="images/character.png" width="40" height="40" class="pull-left shared-character"/>-->
            </div>
          </div>
        </div>
      </div>
    
      <div id="editor" class="row hide">
        <div class="col-xs-9">
          <div class="tooltip top in" id="fullscreentip">
            <div class="tooltip-inner" localization>esctoexit</div>
          </div>
          <div id="editormain">
            <div id="editormain-inner">
              <div id="over-editor" class="btn-toolbar" style="margin:0 0 5px 0;">
                <div class="btn-group pull-right">
                  <button class="btn btn-white" type="button" title="maximum-title" id="editor-full"><span class="glyphicon glyphicon-fullscreen"></span></button>
                  <button class="btn btn-white" type="button" title="hide-title" id="toggle-chat"><span class="glyphicon glyphicon-forward"></span></button>
                </div>
                <div class="btn-group pull-right" style="margin:0 15px 5px 0;">
                  <button class="btn btn-white disabled" type="button" id="editor-run" title="run-title"><span class="glyphicon glyphicon-play"></span></button>
                  <button class="btn btn-white disabled" type="button" id="editor-debug" title="debug-title"><span class="glyphicon glyphicon-eye-open"></span></button>
                  <button class="btn btn-white" type="button" id="editor-console" title="console"><span class="glyphicon glyphicon-share"></span></button>
                </div>
                <div class="btn-group pull-left" style="margin-left:0">
                  <a class="btn btn-white" id="editor-back"><span class="glyphicon glyphicon-home"></span></a>
                </div>
                <div class="btn-group" id="current-doc-outer">
                  <p id="current-doc-p">
                    <span id="current-doc">current doc</span>
                    &nbsp;&nbsp;
                    <span class="red" id="current-doc-state" localization>saving...</span>
                  </p>
                </div>
                <div style="clear:both;"></div>
              </div>
              <textarea id="editor-textarea" ></textarea>
              <div id="under-editor" class="hide">
                <div id="console">
                  <div id="console-title" class="well well-top" style="border-bottom:1px solid #ddd;padding:4px 0 5px 10px;" localization>console</div>
                  <div id="console-inner">
                  </div>
                  <input id="console-input"  class="form-control" type="text"/>
                </div>
                <div id="varlist">
                  <div class="well well-top">
                    <div class="btn-group">
                      <button class="btn disabled debugandwait" type="button" title="step-title" id="debugstep">
                        <span class="glyphicon glyphicon-arrow-down"></span>
                      </button>
                      <button class="btn disabled debugandwait" type="button" title="next-title" id="debugnext">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                      </button>
                      <button class="btn disabled debugandwait" type="button" title="finish-title" id="debugfinish">
                        <span class="glyphicon glyphicon-share-alt"></span>
                      </button>
                      <button class="btn disabled debugandwait" type="button" title="continue-title" id="debugcontinue">
                        <span class="glyphicon glyphicon-play"></span>
                      </button>
                    </div>
                  </div>
                  <div id="varlistreal">
                    <table class="table table-hover" id="varlist-table">
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-3" id="chatbox">
          <div id="member-list-doc">
<!--            <img src="images/character.png" width="40" height="40" class="pull-left shared-character" />-->
          </div>
          <div id="chat-show" style="height:284px;">
            <div id="chat-show-inner">
<script type="text/template" id="chat-template"><p class="chat-element">
<span class="chat-name<%=d.ty%>">
<%=d.n%>&nbsp;&nbsp;<%=new Date(d.t).toTimeString().substr(0, 8)%>
</span><br /><%=_.escape(d.c)%></p></script>
            </div>
          </div>
          <div class="input-group" style="margin-bottom:0">
            <input type="text" id="chat-input" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-white" type="button" title="send" id="chat-send"><span class="glyphicon glyphicon-comment"></span></button>
              <button class="btn btn-white" type="button" id="voice-on" title="voice"><span class="glyphicon glyphicon-volume-up"></span></button>
            </span>
        </div>
      </div>
    </div>
      </div>

    
    <!-- popover -->
    <div id="newfile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newfile-label" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="newfile-label" localization>newfile</h3>
      </div>
      <div class="modal-body form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-3" for="newfile-input" localization>name</label>
              <div class="col-sm-7">
                <input class="modal-input form-control" type="text" id="newfile-input" />
            <span class="help-inline"></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="modal-buttons">
          <button class="btn btn-primary modal-confirm" localization>ok</button>
          <button class="btn" data-dismiss="modal" aria-hidden="true" localization>cancel</button>
        </div>
      </div>
    </div>
      </div> 
    </div>

    
    <!-- popover -->
    <div id="changeavatar" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="changeavatarLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="changeavatarLabel" localization>changeavatar</h3>
      </div>
      <div class="modal-body">
        <div class="alert hide" id="changeavatar-message">
              <button type="button" class="close" onclick="$('#changeavatar-message').slideUp()">&times;</button>
          <span>Nothing here</span>
        </div>
        <p localization>clicktochange</p>
        <p align="center">
          <img id="changeavatar-img" src="#" width="192" height="192" onclick="$('#changeavatar-input').click()" style="cursor:pointer;"/>
        </p>
        <div style="overflow:hidden;height:0;max-height:0;">
              <input type="file" name="upload" id="changeavatar-input" accept="image/png,image/jpeg"/>
        </div>
      </div>
      <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" localization>back</button>
          </div>
        </div>
      </div>
    </div>

    <!-- popover -->
    <div id="changepassword" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="changepasswordLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="changepasswordLabel" localization>changepassword</h3>
      </div>
      <div class="modal-body form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label" for="changepassword-old" localization>oldpassword</label>
              <div class="col-sm-7">
                <input type="password" class="form-control" id="changepassword-old"/>
              </div>
            <span class="help-inline"></span>
          </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="changepassword-old" localization>newpassword</label>
              <div class="col-sm-7">
                <input type="password" class="form-control" id="changepassword-new"/>
              </div>
            <span class="help-inline"></span>
          </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="changepassword-old" localization>confirm</label>
              <div class="col-sm-7">
                <input type="password" class="form-control" id="changepassword-confirm"/>
          </div>
              <span class="help-inline"></span>
        </div>
      </div>
      <div class="modal-footer">
        <div id="changepassword-buttons">
              <button class="btn btn-primary modal-confirm" localization>ok</button>
              <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" localization>cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- popover -->
    <div id="delete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="delete-label" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="delete-label" localization>deleteconfirm</h3>
      </div>
      <div class="modal-body">
            <p><span localization>suretodelete</span>&nbsp;<span class="folder" localization>file</span> <span id="delete-name"></span></p>
      </div>
      <div class="modal-footer">
        <div class="modal-buttons">
              <button class="btn btn-primary modal-confirm" localization>ok</button>
              <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" localization>cancel</button>
        </div>
      </div>
    </div>
      </div>
    </div>

    <!-- popover -->
    <div id="rename" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="rename-label" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="rename-label" localization>rename</h3>
      </div>
      <div class="modal-body form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-3" for="rename-input" localization>newname</label>
              <div class="col-sm-7">
                <input class="form-control modal-input" type="text" id="rename-input" />
            <span class="help-inline"></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="modal-buttons">
          <button class="btn btn-primary modal-confirm" localization>ok</button>
              <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" localization>cancel</button>
        </div>
      </div>
    </div>
      </div>
    </div>

    <!-- popover -->
    <div id="share" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="shareLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="shareLabel" localization>sharemanage</h3>
      </div>
      <div class="modal-body">
        <p><span localization>file</span> <span id="share-name"></span> <span localization>sshareduser</span></p>
        <div id="share-user-box">
          <ul class="nav nav-pills nav-stacked" id="share-user-list">
          </ul>
        </div>
        <div class="alert hide" id="share-message">
              <button type="button" class="close" onclick="$('#share-message').slideUp()">&times;</button>
          <span>Nothing here</span>
        </div>
            <div class="row" id="share-buttons">
                <div class="form-inline col-xs-9">
                  <label localization>newuser:</label>
                  <div class="input-group">
                    <input type="text" id="share-inputName" class="form-control"/>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" id="share-confirm" localization>add</button>
                    </span>
                  </div>
                </div>
                <div class="col-xs-3">
                  <button class="btn pull-right btn-primary" type="button" id="share-remove" localization>delete</button>
        </div>
      </div>
          </div>
      <div class="modal-footer">
        <div id="share-buttons">
              <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" localization>back</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- popover -->
    <div id="messagedialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="messagedialogLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="messagedialogLabel">title</h3>
      </div>
      <div class="modal-body">
        <p id="messagedialogContent">info</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" localization>ok</button>
      </div>
    </div>
      </div>
    </div>
  </div>
  <a href="" download="" id="downloada" onclick=""></a>
  <div id="footer" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container" style="max-width:inherit; width:auto; padding: 0 20px;">
      <div class="navbar-header" id="language-panel"><script type="text/template" id="lang-btn-template">
<a lang="<%=o.key%>" class="change-language btn btn-link" type="button"><%=o.name%></a></script>
      </div>
      <div class="nav navbar-nav navbar-right" style="padding:10px">
        <p style="text-align:right" localization>popushteam</p>
      </div>
    </div>  
  </div>
  <!--templates-->
  <script type="text/template" id="member-popover-template">
    <img class="pull-left popover-character user-<%= name %>" src="<%= avatar %>" witdh="48" height="48"/>
    <b><%= name %></b><br/>
    <span><div style="clear:both;"></div>
  </script>
  <script type="text/template" id="member-template">
    <img src="<%= avatar %>" width="40" height="40" class="member-avatar pull-left online shared-character user-<%= name %>" />
  </script>
  <script type="text/template" id="member-doc-template">
    <img id="avatar-<%= name %>" src="<%= avatar %>" width="40" height="40" class="member-avatar pull-left online shared-character user-<%= name %>" />
  </script>
  	<script type="text/template" id="expression-template">
		<td class="col1"></td>
		<td class="col2">
		  <span class="title" ><%=expression%></span>
		  <input id="te" type="text" />
		</td>
		<td class="col3"><%=value%></td>
  </script>
  <script type="text/template" id="sharer-template">
  <a href="#">
	<img src="<%= avatar %>" width="32" height="32" class="sharer-avatar userlistimg user-<%= name %>" />
	<%=name%>
	</a>
  </script>

  <script type="text/javascript" src="js/localization/lang.js"></script>
  <script type="text/javascript" src="js/localization/zh-CN.js"></script>
  <script type="text/javascript" src="js/localization/en-US.js"></script>
  <script type="text/javascript" src="js/api/ie.js"></script>
  <script type="text/javascript" src="js/api/lock.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/models/file.js"></script>
  <script type="text/javascript" src="js/models/user.js"></script>
  <script type="text/javascript" src="js/models/expression.js"></script>
  <script type="text/javascript" src="js/collections/files.js"></script>
  <script type="text/javascript" src="js/collections/members.js"></script>
  <script type="text/javascript" src="js/collections/expressions.js"></script>
  <script type="text/javascript" src="js/sockets/main-socket.js"></script>
  <script type="text/javascript" src="js/sockets/file-sync.js"></script>
  <script type="text/javascript" src="js/sockets/room-socket.js"></script>
  <script type="text/javascript" src="js/views/login-view.js"></script>
  <script type="text/javascript" src="js/views/register-view.js"></script>
  <script type="text/javascript" src="js/views/account-view.js"></script>
  <script type="text/javascript" src="js/views/member-view.js"></script>
  <script type="text/javascript" src="js/views/memberlist-view.js"></script>
  <script type="text/javascript" src="js/views/sharer-view.js"></script>
  <script type="text/javascript" src="js/views/sharerlist-view.js"></script>
  <script type="text/javascript" src="js/views/file-view.js"></script>
  <script type="text/javascript" src="js/views/files-view.js"></script>
  <script type="text/javascript" src="js/views/room-view.js"></script>
  <script type="text/javascript" src="js/views/expression-view.js"></script>
  <script type="text/javascript" src="js/views/expressionlist-view.js"></script>
  <script type="text/javascript" src="js/room/data.js"></script>
  <script type="text/javascript" src="js/room/break.js"></script>
  <script type="text/javascript" src="js/room/chat.js"></script>
  <script type="text/javascript" src="js/room/editor.js"></script>
  <script type="text/javascript" src="js/room/run.js"></script>
  <script type="text/javascript" src="js/room/voice.js"></script>
  <script type="text/javascript" src="js/room/room.js"></script>
  <script type="text/javascript" src="js/router.js"></script>
</body>
</html>
